@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.hi-melody-regular {
  font-family: "Hi Melody", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(images/pattern.png);
  width: 100vw;
  min-height: 100vh;
  background-size: 100px 100px;
  background-color: #a3a3a3;
  background-repeat: repeat;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
}

.ccenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inlineBlock {
  display: inline-block;
}

.background1 {
  background-color: #b4d1da;
  border-radius: 9px;
  border: 1px solid #738186;
  width: 1450px;
  height: 800px;
  position: relative;
  top: 100px;
  left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background2 {
  border: 2px dashed white;
  border-radius: 9px;
  width: 1400px;
  height: 750px;
}

.backGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.backL {
  background-color: #f1f1f1;
  border-radius: 12px;
  width: 350px;
  height: 720px;
  margin: 0;
}

.backR {
  background-color: #f1f1f1;
  border-radius: 12px;
  width: 1020px;
  height: 720px;
  margin: 0;
}

.backLHead {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 14px;
  gap: 5px;
}

p {
  display: inline-block;
}

.red {
  color: red;
}

.backLMain {
  border: 2px solid #d4d4d4;
  background-color: #ffffff;
  width: 300px;
  height: 615px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
}

.mainProfileImg {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  border-radius: 9px;
  background-image: url(images/cyHuman.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}

.feelingBox {
  font-family: "Nanum Pen Script", cursive;
  font-size: 16px;
  border: 1px solid black;
  margin-top: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skyColor {
  color: #2aacd3;
}

.mainPR {
  margin-top: 20px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snippets {
  color: #2aacd3;
  font-family: "Nanum Pen Script", cursive;
  font-size: 25px;
  text-align: center;
}

.feelingImg {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

.blogLittleName {
  font-size: 18px;
  font-family: "Hi Melody", sans-serif;
}

.cyGender {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-image: url(images/cyworldGender.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blogLittleEmail {
  font-family: "Hi Melody", sans-serif;
  color: #e8b793;
}

.backRHead {
  display: flex;
  justify-content: space-between;
}
